.aboutus {
}

.aboutusInner {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.aboutLeft {
  border-radius: 15px;
  flex: 0 0 454px;
  overflow: hidden;
}

.aboutRight {
  padding-left: 100px;
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0e0116;
  }
}
