.container {
    padding-top: 20px;
    width: 100%;
    
}

.wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.imageContainer {
   width: 350px;
   padding-top: 40px;
}

.content {
    text-align: auto;
    padding: 40px;
}

.h2{
    color:#7851a9;
}

.link {
    text-decoration: underline;
    color:yellow;
    margin-left: 40px;
}