.container {
    /* margin-bottom: -20px; */
    width: 100%;
    background-color: #000;
    /* height: 400px; */
    color: #fff;
    
}

.wrapper {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imageContainer {
   width: 600px;
   margin: auto;
}

.imageBackground {
    
    padding: 60px;
}

.content {
    text-align: auto;
    padding: 40px;
    width: 600px;
    margin: auto;
}

.h2{
    color:#7851a9;
}

.link {
    text-decoration: underline;
    color:#EBD247;
    margin-left: 40px;
}

@media only screen and (max-width: 768px){
  .imageContainer{
    width: 100%;
  }

  .content{
    width: 100%;
  }
}