.footer {
  background: #06010c;
  margin-left: 90px;
  padding: 55px 0;

  @media #{$layout-tablet} {
    margin-left: 60px;
  }

  @media #{$layout-mobile} {
    margin-left: 60px;
  }
}
.footerInner {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 0 100px;

  @media #{$layout-tablet} {
    padding: 0;
  }

  @media #{$layout-mobile} {
    flex-wrap: wrap;
    padding: 0;
  }
}
.footerWidget {
  flex: 1 0 0%;
  ul {
    li {
      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: #ffffff;
      }
    }
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
  }
  button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    outline: 0;
    padding: 9px 30px;
    border-radius: 100px;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;

    &:hover {
      border-color: #dfb625;
      background: #dfb625;
      color: #06010c;
    }
  }

  @media #{$layout-mobile} {
    flex: 0 0 100%;
  }
}
.footerWidgetTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.footerCopyright {
  text-align: center;
  margin-top: 70px;

  p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
}
