.header {
  position: fixed;
  left: 90px;
  top: 0px;
  width: calc(100% - 90px);
  height: auto;
  z-index: 100;

  @media #{$layout-tablet} {
    height: 100vh;
    width: calc(100vw - 60px);
    background: #000000;
    display: flex;
    align-items: center;
    left: -100%;
    transition: all 0.5s ease-in-out 0s;

    &.open {
      left: 60px;
    }
  }

  @media #{$layout-mobile} {
    height: 100vh;
    left: 60px;
    width: calc(100vw - 60px);
    background: #000000;
    display: flex;
    align-items: center;
    left: -100%;
    transition: all 0.5s ease-in-out 0s;

    &.open {
      left: 60px;
    }
  }
}

.headerMenu {
  text-align: right;
  padding-right: 90px;

  li {
    display: inline-block;
    padding: 40px 0;
    padding-left: 115px;

    a {
      color: #ffffff;
      display: block;
      filter: invert(0.4);
      mix-blend-mode: difference;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media #{$layout-tablet} {
    text-align: left;
    padding-right: 0;
    width: 100%;

    li {
      display: block;
      padding: 30px 0;
      padding-left: 30px;

      a {
        font-weight: 400;
        font-size: 32px;
        line-height: 20px;
        color: #fff;
        opacity: 1;
        filter: none;
      }
    }
  }
  @media #{$layout-mobile} {
    text-align: left;
    padding-right: 0;
    width: 100%;

    li {
      display: block;
      padding: 30px 0;
      padding-left: 30px;

      a {
        font-weight: 400;
        font-size: 32px;
        line-height: 20px;
        color: #fff;
        opacity: 1;
        filter: none;
      }
    }
  }
}
