.wrapper {
  position: relative;
  width: 100%;
}

.pageContent {
  margin-left: 90px;

  @media #{$layout-tablet} {
    margin-left: 60px;
  }

  @media #{$layout-mobile} {
    margin-left: 60px;
  }
}

.cartButton {
  position: fixed;
  left: auto;
  right: 30px;
  top: auto;
  bottom: 30px;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 20px;
  display: inline-block;
  padding: 0;
  color: #ffffff;
  filter: invert(0.4);
  mix-blend-mode: difference;
  vertical-align: middle;
  z-index: 10;

  span {
    position: fixed;
    left: calc(100% - 5px);
    top: auto;
    bottom: calc(100% - 5px);
    display: inline-block;
    height: 15px;
    line-height: 15px;
    min-width: 15px;
    border-radius: 1000px;
    font-size: 10px;
    background: #000;
    color: #fff;
    mix-blend-mode: initial;
    filter: initial;
  }

  @media #{$layout-tablet} {
    bottom: auto;
    top: 65px;
    right: 15px;
  }

  @media #{$layout-mobile} {
    bottom: auto;
    top: 65px;
    right: 15px;
  }
}

.notifyMessage {
  position: absolute;
  left: 90px;
  top: 0;
  height: auto;
  width: calc(100% - 90px);
  background: #dfb625;
  color: #000000;
  text-align: center;
  z-index: 10;

  @media #{$layout-tablet} {
    left: 60px;
    width: calc(100% - 60px);
  }
  @media #{$layout-mobile} {
    left: 60px;
    width: calc(100% - 60px);
  }
}
