.sidebar {
  position: fixed;
  width: 90px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #06010c;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media #{$layout-tablet} {
    width: 60px;
  }

  @media #{$layout-mobile} {
    width: 60px;
  }
}

.sidebarLogo {
  padding: 30px 10px;
  a {
    display: block;
  }

  @media #{$layout-tablet} {
    padding: 30px 15px;
  }
  @media #{$layout-mobile} {
    padding: 30px 15px;
  }
}

.sidebarToggle {
  border: 0;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  display: none;

  @media #{$layout-tablet} {
    display: block;
  }

  @media #{$layout-mobile} {
    display: block;
  }
}

.sidebarSocialmenu {
  ul {
    text-align: center;

    li {
      margin-bottom: 68px;
      transform: rotate(180deg);
      writing-mode: vertical-lr;

      a {
        color: #ffffff;
        opacity: 0.5;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        transition: all 0.4s ease-in-out 0s;

        &:hover {
          color: #ffffff;
          opacity: 1;
        }
      }
    }
  }

  @media #{$layout-tablet} {
    ul {
      li {
        margin-bottom: 35px;
      }
    }
  }
  @media #{$layout-mobile} {
    ul {
      li {
        margin-bottom: 35px;
      }
    }
  }
}
