.container {
    background-color: #EBD247;
    width: 100%;
    padding-bottom: 20px
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgContainer {
    margin-top: 20px;
}

.imgBackground {
    width: 300px;
    margin: 0 20px;
}

.h5 {
    color: #eee;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}