.container {
    width: 100%;
    padding-bottom: 20px;
    background-color: #7851a9;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgContainer {
    margin-top: -20px;
    margin-bottom: 20px;
}

.imgBackground {
    width: 300px;
    
}

.h5 {
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.h2{
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.contentContainer{
    width: 600px;
    margin: auto;
}

.fonts{
   text-align: center;
}

@media only screen and (max-width:768px){
    .contentContainer{
        width: 100%;
    }

    


}