.container {
    width: 100%;
    padding-bottom: 20px;
    background-color: #fff;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imgContainer {
    margin-top: 20px;
}

.imgBackground {
    width: 300px;
    
}

.h5 {
    color: #EBD247;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}