.contactus {
  background: #040404;
  position: relative;
}

.contactusBgtitle {
  position: absolute;
  left: 0;
  top: 100px;
  font-weight: 500;
  font-family: "Helvetica Neue";
  font-size: 15vw;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 5px #a8a8a8;
  opacity: 0.15;
  text-transform: uppercase;
  z-index: 1;
}

.contactInner {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contactForm {
  max-width: 386px;
  width: 100%;
  margin: 0;
  margin-right: 150px;
  padding-bottom: 100px;
  text-align: right;

  input,
  textarea {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    height: 55px;
    background: #f7f7f7;
    border-radius: 10px;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
    border: 2px solid #f7f7f7;
    outline: none;
    font-family: "Helvetica";
    transition: all 0.4s ease-in-out 0s;

    &::placeholder {
      color: #717171;
    }

    &:focus,
    &:active {
      border-color: #dfb625;
      outline: none;
      box-shadow: none;
    }
  }

  input {
    padding: 0px 25px;
  }

  textarea {
    min-height: 141px;
    padding: 15px 25px;
  }

  button {
    height: 53px;
    background: #dfb625;
    border-radius: 100px;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 0 42px;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;

    &:hover {
      background: #ffffff;
    }
  }
}
