@keyframes sliding {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-2%);
  }
  66% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

.herosection {
  min-height: 100vh;
  position: relative;
  background: #040404;
  overflow: hidden;
}

.herosectionTop {
  position: relative;
  min-height: 70vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
}

.herosectionBgtitle {
  font-family: "Helvetica Neue";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 20vh;
  font-weight: 500;
  font-size: 18vh;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 5px #a8a8a8;
  opacity: 0.15;
  text-transform: uppercase;
  margin-bottom: 0;

  @media #{$layout-tablet} {
    top: 50px;
    opacity: 0.2;
    -webkit-text-stroke: 3px #a8a8a8;
  }

  @media #{$layout-mobile} {
    top: 50px;
    opacity: 0.9;
    -webkit-text-stroke: 1px #a8a8a8;
    font-size: 10vh;
  }
}

.herosectionTopInner {
  display: flex;
  height: 100%;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}

.herosectionImage {
  margin-bottom: -150px;
  width: 403px;
  max-width: 100%;

  img {
    animation: sliding 5s linear 0s infinite;
  }
  @media #{$layout-tablet} {
    width: 265px;
  }

  @media #{$layout-mobile} {
    margin-bottom: 0;
    margin-top: 11vh;
    width: 225px;
  }
}

.herosectionContent {
  padding-bottom: 18vh;
  color: #fff;
  max-width: 360px;
  margin-left: 60px;

  h1 {
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  @media #{$layout-mobile} {
    display: none;
  }
}

.herosectionBottom {
  text-align: right;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  min-height: 30vh;
  background: #fff;
  display: flex;
  align-items: center;

  @media #{$layout-mobile} {
    align-items: end;
    padding: 100px 0 20px 0;
  }
}

.herosectionButton {
  color: #0e0116;
  background: #d9d9d9;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  padding: 20px 85px;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  z-index: 80;
  display: inline-block;
  border-radius: 100px;

  &:hover {
    background: #000;
    color: #fff;
  }

  @media #{$layout-tablet} {
    padding: 12px 50px;
    font-size: 20px;
  }

  @media #{$layout-mobile} {
    padding: 12px 50px;
    font-size: 20px;
  }
}
