@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.howitworks {
  background: #040404;
}

.howitworksInner {
  display: flex;
  min-height: 100vh;
  align-items: center;

  @media #{$layout-mobile} {
    padding: 50px 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.howitworksLeft {
  margin-left: -50px;
  width: 535px;
  max-width: 100%;

  img {
    transform-origin: center center;
    animation: rotateCircle 20s linear 0s infinite reverse;
  }

  @media #{$layout-laptop} {
    width: 400px;
  }
  @media #{$layout-tablet} {
    width: 300px;
    margin-left: 0;
  }
  @media #{$layout-mobile} {
    padding: 30px 0;
    width: 300px;
    margin-left: 0;
  }
}

.howitworksRight {
  ul {
    padding-left: 85px;
    list-style: decimal;

    li {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
      opacity: 0.7;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  @media #{$layout-laptop} {
    ul {
      padding-left: 50px;

      li {
        font-size: 22px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  @media #{$layout-tablet} {
    ul {
      padding-left: 50px;

      li {
        font-size: 22px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media #{$layout-mobile} {
    flex: 0 0 100%;
    ul {
      padding-left: 20px;

      li {
        font-size: 18px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}
