.prodetails {
  padding-top: 120px;
  padding-bottom: 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue";
  font-weight: 400;

  @media #{$layout-tablet} {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  @media #{$layout-mobile} {
    padding-top: 150px;
  }
}

.prodetailsInner {
  display: flex;

  @media #{$layout-mobile} {
    flex-wrap: wrap;
  }
}

.prodetailsImage {
  flex: 0 0 46%;
  span {
    vertical-align: middle;
  }

  @media #{$layout-mobile} {
    flex: 0 0 100%;
  }
}

.prodetailsContent {
  padding-left: 50px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
    margin-bottom: 5px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

    span {
      color: #606367;
    }
  }

  @media #{$layout-laptop} {
    padding-left: 30px;
  }
  @media #{$layout-tablet} {
    padding-left: 25px;

    h2 {
      font-size: 26px;
      line-height: 32px;
    }
  }
  @media #{$layout-mobile} {
    margin-top: 30px;
    padding-left: 0px;

    h2 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.prodetailsContentFooter {
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
    color: #606367;

    a {
      text-decoration: underline;
      color: #000;
    }
  }
}

.prodetailsCartbox {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.prodetailsQuantitybox {
  display: inline-block;
  position: relative;
  width: 165px;
  height: 35px;
  background: #d9d9d9;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-family: "Helvetica Neue";
  }

  button {
    border: 0;
    background: transparent;
    font-size: 20px;
    padding: 0 15px;

    svg {
      vertical-align: middle;
    }
  }
}

.prodetailsCartbutton {
  font-family: "Helvetica Neue";
  height: 35px;
  background: #0e0116;
  border-radius: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0 80px;
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;

  @media #{$layout-tablet} {
    padding: 0 30px;
  }

  @media #{$layout-mobile} {
    padding: 0 40px;
  }
}

.prodetailsIncluded {
  height: 40px;
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.prodetailsIncludedOpener,
.prodetailsIncludedCloser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;

  h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  button {
    border: 0;
    background: transparent;
    font-size: 20px;
    padding: 0;

    svg {
      vertical-align: middle;
    }
  }
}

.prodetailsIncludedCloser {
  border-color: transparent;
}

.prodetailsIncludedInside {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: auto;
  width: 100%;
  transform: translateY(-50%);
  background: #fff;
  visibility: hidden;

  &.active {
    background: #fff;
    visibility: visible;
  }
}

.prodetailsIncludedInner {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: scaleY(0);
  transform-origin: center center;
  transition: all 0.4s ease-in-out 0s;
  background: #fff;
  position: relative;
  z-index: 1;

  &.active {
    transform: scaleY(1);
    transform-origin: center center;
  }
}

.prodetailsIncludedBody {
  h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}
