.footerContainer {
    background: #000;
    color: #fff;
    width: 100%;
    height: 320px;
}

.footerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.contact {
    list-style-type: none;
}

.googleMap {
    width: 100%
}