.herosection {
  min-height: 100vh;
  position: relative;
}

.herosectionTop {
  background: #040404;
  position: relative;
}

.herosectionBgtitle {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  font-size: 19vw;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 5px #a8a8a8;
  opacity: 0.15;
  text-transform: uppercase;
}

.herosectionTopInner {
  padding-top: 100px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  min-height: 67vh;
}

.herosectionImage {
  margin-bottom: -120px;

  img {
    animation: sliding 5s linear 0s infinite;
  }
}

.herosectionContent {
  color: #fff;
  max-width: 380px;
  margin-left: 100px;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.herosectionBottom {
  text-align: right;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  min-height: 26vh;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 5;
}

.herosectionButton {
  color: #0e0116;
  background: #d9d9d9;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  padding: 20px 85px;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  z-index: 80;
  display: inline-block;

  &:hover {
    background: #000;
    color: #fff;
  }
}
